@import url('https://fonts.googleapis.com/css2?family=Glory:wght@400;700&display=swap');


*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}



.container {
    max-width: 944px;
    width: 100%;
    margin: 0 auto;
}

.header__menu {
    margin: 33px 0 0;
}

.header__menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu a {

    font-family: "Glory", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}

.header__menu a:hover {
    color: #070707;

}

.fa-bars {
    display: none;
}

.fa-close {
    display: none;
}

.line {
    margin: 32px 0 40px;
    border: 1px solid #828282;
    width: 940px;
}

.denis {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.denis h1 {
    width: 123px;
    height: 118px;
    font-family: "Glory", sans-serif;
    font-weight: bold;
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
}

.denis p {
    width: 156px;
    height: 44px;
    font-family: "Glroy", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.language {
    font-family: "Glory", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    transform: rotate(-90deg);
}

.img1 {
    /* width: 943.61px;
    height: 387px; */
    width: 100%;
    margin: 30px 0 104px;
}

/*About__me
======================*/

.bg__color {
    margin: 0 auto;
    background: #F6F6F6;
}

.about__me {
    text-align: center;
    padding: 120px 0 107px;

}

.about__me h2 {

    font-family: 'Glory', sans-serif;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;

}

.text {
    padding-top: 18px;
    font-family: 'Glory', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 218px;
    width: 485px;
    font-size: 18px;
    line-height: 22px;
}

/*Skills
================*/

.skills {
    padding-top: 91px;
    text-align: center;
}

.skills h3 {
    text-transform: capitalize;
    font-family: 'Glory', sans-serif;
    font-size: 34px;
    line-height: 42px;
    color: #070707;
}

.skills p {
    font-family: 'Glory', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    margin: 69px 0 83px;

}

.adobe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #070707;
    margin-bottom: 110px;
}

/*Portfolio
=================*/

.bg__color {

    text-align: center;

}

.bg__color h1 {
    padding: 112px 0 47px;
}

.img2 {
    transform: scale(0);
    transition: all 1s ease;

}

.img3 {
    transform: scale(0);
    transition: all 1s ease;
}

.img4 {
    transform: scale(0);
    transition: all 1s ease;
}



.portfolio {
    display: flex;
    flex-direction: column;
}

.id01 {
    padding: 45px 0 99px;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #070707;
}


.footer {
    margin: 114px 0 123px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer h1 {
    font-family: 'Glory', sans-serif;
    font-size: 34px;
    line-height: 42px;
    color: #070707;
}

.foot-text {
    margin: 20px 0 30px;
    font-family: 'Glory', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}

.send {
    cursor: pointer;
    font-family: 'Glory', sans-serif;
    font-size: 18px;
    line-height: 22px;
    padding: 15px 30px;
    background: #070707;
    border-radius: 30px;
    color: #fff;
}

.icons {
    margin: 91px 0 45px;
    width: 342px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer p {
    font-size: 14px;
    line-height: 17px;
    font-family: 'Glory', sans-serif;
    color: #828282;
}